<% content_for :javascripts do %>
  <%= javascript_include_tag 'collections' %>
<% end %>

<%= render partial: 'shared/header_logo' %>
<div class="collections page">
  <%= raw @page&.display_content %>
  <div class="transcript-facets-collections transcript-facets">
    <!-- sort institution -->
    <% if show_institutions? %>
      <div class="facet" id="institution_search">
        <%= render partial: 'home/institutions', locals: { institutions: @institutions, selected_id: Institution.state_library_nsw.try(:id), hide_lable: true } %>
      </div>
    <% end %>
    <!-- end institution -->
  </div>

  <div class="collect-list">
  </div>
</div>
