<% content_for :javascripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>
<%= render partial: 'home/hero_content', locals: { institution: @institution}  %>
<!-- extended_controls -> sort and search boxes -->
<%= render partial: 'home/filters', locals: { extended_controls: true }  %>
<section id="transcript-results">
</section>
