<% content_for :home_banner do %>
  <div class="header-bar">
    <%= link_to root_path, class: "title", "aria-label": "Click to return to homepage" do %>
      <img src="/nsw-state-library-amplify/assets/img/logo_cropped.png" alt="Logo" class="logo">
      <p class="logo-text">Amplify</p>
    <% end %>
  </div>
<% end %>
<div class="container">
  <div class="dashboard page">
    <div class="row">
      <div class="col-sm">
        <h2>Your Recent Activity</h2>
        <% if @transcript_edits.empty? %>
          <p class="highlight">You don't have any transcript edits yet!</p>
        <% else %>
          <%= render partial: 'transcript_edits', locals: { edits: @transcript_edits } %>
        <% end %>
      </div>
    </div>
  </div>
<div>

