<div style="width: 100%; height: 30vh; position: relative;">
  <canvas id="chart" style="max-width:90%; height: inherit"></canvas>
</div>

<div id="userData" class="dashboard-section"></div>
<div id="editActivityData" class="dashboard-section"></div>
<div id="transcriptsCompletedData" class="dashboard-section"></div>
<div id="collectionData" class="dashboard-section"></div>
