<h2>Users</h2>

<table class="users-table">
  <thead>
    <tr>
      <th>  </th>
      <th>Name</th>
      <th>Email</th>
      <th>Edits Made</th>
    </tr>
  </thead>
  <tbody id="users-container">

  </tbody>
</table>
