<% if (user.signedIn) { %>

  <div class="user">
    Hello, <%= user.name %> (<a href="#sign-out" class="sign-out-link">sign out</a>)
  </div>

<% } else { %>

  Sign in with:
  <ul>
    <% for(var i=0; i < project.auth_providers.length; i++) { %>
      <li><a href="#sign-in-with-<%= project.auth_providers[i].name %>" data-provider="<%= project.auth_providers[i].name %>" class="auth-link"><%= project.auth_providers[i].label %></a></li>
    <% } %>
  </ul>

<% } %>
