<% if (Backbone.history.getFragment() === '') { %>
  <style type="text/css">
    body {
      padding: 0;
    }

    .header {
      position: static;
    }

    .header .title-container {
      float: left;
    }

    .header .account-container {
      position: absolute;
      right: 0;
    }

    .header .menu-container {
      position: absolute;
      right: 173px;
    }

    .sticky {
      top: 0;
    }
  </style>

  <div class="home-banner">
    <img src="/nsw-state-library-amplify/assets/img/logo.png" alt="Logo" class="logo" />
    <div class="banner-main">
      <div class="banner-text">
        <h1>Amplify</h1>
        <h2>Listen to our sound archive, help us transcribe and enrich our stories.</h2>
      </div>
    </div>
  </div>
<% } else { %>
  <style type="text/css">
    .header .title-container {
      width: auto;
      float: left;
    }
  </style>

  <div class="header-bar">
    <a href="/" title="<%= project.name %>" class="title" aria-label="Click to return to homepage" title="Click to return to homepage">
      <img src="/nsw-state-library-amplify/assets/img/logo_cropped.png" alt="Logo" class="logo" />
      <p class="logo-text">Amplify</p>
    </a>
  </div>
<% } %>
