<% if (project.logo) { %>
  <a href="/" title="<%= project.name %>" class="title" aria-label="Click to return to homepage" title="Click to return to homepage"><img src="<%= project.logo %>" alt="Logo" class="logo"><img src="https://s3.amazonaws.com/americanarchive.org/org-logos/FIX_IT_plus_sm.png" alt="FIX IT +" class="fix-it-logo" aria-label="Click to return to homepage"></a>
<% } else { %>
  <h1 class="title" aria-label="Click to return to homepage" title="Click to return to homepage"><a href="/"><%= project.name %></a></h1>
<% } %>
