@import "mixins";
@import "variables";

.transcript-facets {
  position: relative;
  z-index: 50;
  text-align: center;
  padding: 10px 10px 0;
  margin: 0 -10px 20px;
  background: #ddd;

  &.sticky {
    position: fixed;
    @include box-shadow(0px 2px 2px rgba($black, 0.3));
  }

  .facet {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  .select-options {
    left: auto;
    right: 0;
  }

  .select-option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .select.collection .select-options {
    min-width: 300px;
    max-height: 350px;
    overflow-y: scroll;
  }

  .select.sort .select-options {
    min-width: 240px;
  }
}

$search-height: 28px;
$search-height-large: 40px;

.search-form {

  input,
  .submit {
    vertical-align: middle;
  }

  input {
    display: inline-block;
    width: 200px;
    height: $search-height;
    line-height: $search-height;
    border: 1px solid $coolgray-color;
    border-right: none;
    padding: 0 0.2em;
    outline: none;

    &:focus {
      border-color: darken($coolgray-color, 10%);
    }
  }
  .submit {
    display: inline-block;
    color: $white;
    background: $link-color;
    width: $search-height + 2px;
    height: $search-height + 2px;
    line-height: $search-height + 2px;
    text-align: center;
    border: none;
    outline: none;
    margin-left: -4px;
    border: 1px solid $coolgray-color;
    padding: 0;

    &:before {
      @include icon("\f002");
    }

    &:hover {
      background: $link-hover-color;
    }
  }

  &.large {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 1em;

    input {
      width: 500px;
      margin-right: -3px;
      height: $search-height-large;
      line-height: $search-height-large;
    }
    .submit {
      width: $search-height-large + 2px;
      height: $search-height-large + 2px;
      line-height: $search-height-large + 2px;
    }
  }
}
