@import "mixins";
@import "variables";

#transcript-line-flag {

  header {
    font-size: 1.8em;
  }

  .flag-content {
    display: none;
    &.active {
      display: block;
    }
  }
  .flag {
    padding: 10px 0;
    border-top: 1px solid #ccc;

    .flag-type {
      font-weight: bold;
    }
    .flag-meta {
      font-style: italic;
      color: $coolgray-color;
      font-size: 0.9em;
    }
  }
  footer .button {
    display: none;
    &.active {
      display: inline-block;
    }
  }
  .message {
    display: none;
    background: $highlight-color;
    font-size: 0.9em;

    &.active {
      display: block;
    }
  }

  .option {
    display: block;
    background: $coolgray-dark-color;
    color: $white;
    padding: 0.2em 0.4em;
    font-size: 1.4em;
    margin: 0.2em 0 0;

    &:hover,
    &.active {
      background: $green-color;
    }

    &.active:before {
      @include icon("\f00c");
      margin-right: 5px;
    }
  }

  label,
  textarea {
    display: block;
    margin: 10px 0;
  }

  label {
    padding-top: 12px;
    margin-top: 20px;
    border-top: 1px solid #ccc;
  }

  textarea {
    width: 60%;
  }

  .toggle-play:before {
    @include icon("\f144");
  }

  // make room for conventions tab
  .modal {
    .modal-inner {
      top: 80px;
    }
    .modal-close:after {
      top: 76px;
    }
  }

}

#app[state=playing] #transcript-line-flag .toggle-play:before {
  content: "\f28b";
}
#app[state=buffering] #transcript-line-flag .toggle-play:before {
  content: "\f110";
  color: $coolgray-color;
  @include animation(spin 2s infinite linear);
}
