@import "mixins";
@import "variables";

$transcript-line-height: 56px;
$transcript-line-speaker-width: 40px;
$transcript-line-time-width: 80px;
$transcript-line-status-width: 34px;
$transcript-line-options-width: 0;
$transcript-line-options-reviewing-width: 80px;

.transcript-lines {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 400px;
  border-top: 10px solid $coolgray-color;
  border-bottom: 10px solid $coolgray-color;

  .line {
    position: relative;
    width: 100%;
    height: $transcript-line-height;
    line-height: $transcript-line-height;
    background: $coolgray-color;
    color: darken($coolgray-dark-color, 15%);
    @include clearfix();

    &:hover {
      background: lighten($coolgray-color, 5%);
    }

    // &.editing,
    &.user-edited {
      background: rgba($green-color, 0.3);
    }
    &.reviewing {
      background: $orange-dark-color;
    }
    &.completed {
      background: rgba($green-color, 0.6);
    }

    &:hover {
      &.reviewing {
        background: lighten($orange-dark-color, 5%);
      }
      &.user-edited {
        background: rgba($green-color, 0.2);
      }
      &.completed {
        background: rgba($green-color, 0.5);
      }
    }

    &,
    input {
      cursor: pointer;
    }

    input {
      @include transition(font-size 0.4s);
    }

    &.not-editable input,
    &.not-editable .text > div {
      cursor: not-allowed;
    }

    &.not-editable.reviewing .text > div {
      cursor: pointer;
    }

    &.active {
      cursor: default;

      &,
      &:hover {
        color: $black;
        background: $white;
      }

      input {
        cursor: text;
      }
    }
  }
  .time,
  .controls {
    width: $transcript-line-time-width;
    float: left;
    padding-left: 10px;
    font-size: $transcript-line-height - 36px;
    // background: rgba($black, 0.05);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include box-sizing();
  }
  .controls {
    display: none;
    font-size: $transcript-line-height - 20px;

    .control:before {
      @include icon("\f144");
    }
  }
  .status {
    width: $transcript-line-status-width;
    height: $transcript-line-height;
    line-height: $transcript-line-height;
    float: left;
    background: rgba($black, 0.05);
    text-align: center;
    position: relative;
    @include box-sizing();

    &:before {
      @include icon("\f10c");
      font-size: 1.5em;
      vertical-align: middle;
      color: $coolgray-dark-color;
    }

    .status-description {
      display: none;
      position: absolute;
      top: -18%;
      left: 10px - $transcript-line-time-width;
      text-align: center;
      background-color: rgba($white, 0.9);
      height: 20px;
      line-height: 20px;
      white-space: nowrap;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 15px;

      &:before {
        content: attr(data-description);
      }
      &:after {
        content: ' ';
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid rgba($white, 0.9);
        position: absolute;
        bottom: -6px;
        left: $transcript-line-time-width + $transcript-line-status-width / 2 - 16px;
      }
    }

    &:hover .status-description {
      display: block;
    }
  }
  .line.reviewing .status:before {
    content: "\f042";
    color: #9b8242;
  }
  .line.user-edited .status:before {
    content: "\f111";
    color: lighten($green-color, 5%);
  }
  .line.completed .status:before {
    content: "\f058";
    color: darken($green-color, 5%);
  }
  .line.user-edited .status .status-description:before {
    content: "You have edited this line";
  }
  .line.completed .status .status-description:before {
    content: attr(data-description);
  }
  .line.not-editable .status .status-description {
    background: $highlight-color;
    &:after {
      border-top-color: $highlight-color;
    }
  }
  .line:hover .status .status-description {
    display: block;
  }
  .line.active:hover .status .status-description {
    display: none;
  }
  .line.active.not-editable:hover .status .status-description,
  .line.active:hover .status:hover .status-description {
    display: block;
  }
  .line.active .time {
    display: none;
  }
  .line.active .controls {
    display: block;
  }
  .text {
    margin-left: $transcript-line-time-width + $transcript-line-status-width;
    margin-right: $transcript-line-options-width;
    width: auto;
    padding-left: 10px;
    @include box-sizing();

    > div {
      font-size: $transcript-line-height - 24px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  input {
    display: block;
    width: 100%;
    border: none;
    padding: 0px;
    font-size: $transcript-line-height - 24px;
    height: $transcript-line-height;
    line-height: $transcript-line-height;
    background: none;

    &:focus {
      outline: none;
    }
  }
  .options {
    width: $transcript-line-options-width;
    float: right;
    padding-right: 20px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    @include box-sizing();

    .button {
      padding: 0 0.2em;
      height: $transcript-line-height / 2;
      line-height: $transcript-line-height / 2;
      visibility: hidden;
    }

    .verify {
      padding: 0 0.4em;
    }

    .star,
    .flag {
      background: none;
      font-size: 1.4em;
      color: $coolgray-dark-color;
      border: none;
      &.active {
        color: $green-dark-color;
      }
    }

    .star {
      &:before {
        @include icon("\f006");
      }
      &:hover:before,
      &.active:before {
        content: "\f005";
      }
    }

    .flag {
      &:before {
        @include icon("\f11d");
      }
      &:hover:before,
      &.active:before {
        content: "\f024";
      }
      &.active {
        color: $red-color;
      }
    }
  }
  .line:hover,
  .line.active {
    .button {
      visibility: visible;
    }
  }
  .line .button.active {
    visibility: visible;
    opacity: 0.5;
  }
  .line:hover,
  .line.active {
    .button.active {
      opacity: 1;
    }
  }
  .line.reviewing .options {
    width: $transcript-line-options-reviewing-width;
  }
  .line.reviewing .text {
    margin-right: $transcript-line-options-reviewing-width;
  }

  .speaker {
    display: none;
  }
  // speakers
  &.has-speakers {
    .speaker {
      display: block;
      position: relative;
      width: $transcript-line-speaker-width;
      height: $transcript-line-height;
      line-height: $transcript-line-height;
      float: left;
      text-align: center;
      font-size: 1.5em;
    }
    .change-speaker:before {
      @include icon("\f234");
      color: $coolgray-dark-color;
    }
    .speaker.selected {
      .change-speaker:before {
        content: "\f007";
        color: $charcoal;
        opacity: 0.5;
      }
    }
    .speaker.selected.c0 .change-speaker:before { color: $red; }
    .speaker.selected.c1 .change-speaker:before { color: $green; }
    .speaker.selected.c2 .change-speaker:before { color: $red; }
    .speaker.selected.c3 .change-speaker:before { color: $blue; }
    .speaker.selected.c4 .change-speaker:before { color: $pink; }
    .speaker.selected.c5 .change-speaker:before { color: $cyan; }
    .speaker.selected.c6 .change-speaker:before { color: $purple; }
    .speaker.selected.c7 .change-speaker:before { color: $indigo; }
    .speaker-options {
      position: absolute;
      left: 0;
      top: 99%;
      background: $white;
      display: none;
      line-height: normal;
      text-align: left;
      padding: 10px 8px 5px;
      width: 240px;
      border-top: 1px solid #ccc;
      @include box-sizing();
      h4 {
        font-size: 0.6em;
        margin: 0 0 5px 0;
        text-transform: uppercase;
        color: $charcoal;
        small {
          font-weight: normal;
          font-size: 0.6em;
          color: $coolgray-dark-color;
        }
      }
      .speaker-option {
        display: block;
        font-size: 0.7em;
        padding: 5px 0;

        &:after {
          content: ' ';
          display: inline-block;
          margin-left: 5px;
          width: 14px;
          height: 14px;
          background: $charcoal;
          vertical-align: middle;
        }
        &:first-child:after { background: $red; }
        &:nth-child(2):after { background: $green; }
        &:nth-child(3):after { background: $orange; }
        &:nth-child(4):after { background: $blue; }
        &:nth-child(5):after { background: $pink; }
        &:nth-child(6):after { background: $cyan; }
        &:nth-child(7):after { background: $purple; }
        &:nth-child(8):after { background: $indigo; }
        &.selected:before {
          @include icon("\f00c");
          margin-right: 4px;
        }
      }
    }
    .line.active {
      .speaker:hover,
      .speaker.selected {
        .change-speaker:before {
          content: "\f007";
          // color: $green-dark-color;
          opacity: 1;
        }
      }
      .speaker:hover .speaker-options {
        display: block;
        z-index: 10;
      }
    }
    .text {
      margin-left: $transcript-line-time-width + $transcript-line-status-width + $transcript-line-speaker-width;
    }
  }
}

// Update controls for player states
.body[state=playing] .transcript-lines .controls .control:before {
  content: "\f28b";
}
.body[state=buffering] .transcript-lines .controls .control:before {
  content: "\f110";
  color: $coolgray-color;
  @include animation(spin 2s infinite linear);
}
