@import "mixins";
@import "variables";

$toolbar-mode-width: 0px; // 188px
$toolbar-notifications-width: 0px; // 200px

.transcript-toolbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  min-height: $secondary-header-nav-height;
  line-height: $secondary-header-nav-height;
  @include clearfix();

  .controls {
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    @include clearfix();

    .control {
      display: block;
      float: left;
      text-align: center;
      cursor: pointer;
      background: $very-dark-cyan;
      border-left: 1px solid darken($cyan, 10%);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $soft-orange;
      @include box-sizing();
    }

    .key {
      display: inline-block;
      height: $secondary-header-nav-height * 0.4;
      line-height: $secondary-header-nav-height * 0.4;
      margin-top: 8px;
      font-size: 0.9em;
      margin-left: 0.4em;
      vertical-align: center;

      span {
        background: $bright-orange;
        color: $black;
        padding: 0.2em 0.4em;
        margin: 0 0.1em;
        @include box-shadow(0 1px 2px rgba(0,0,0,.2));
      }
    }

    .label {
      display: inline-block;
      font-size: 0.9em;

      &:before {
        content: attr(data-label);
      }
    }

    .control:hover {
      background: $cyan;
    }
  }

}

// Override labels for toggle play
.transcript-toolbar .controls .toggle-play .label:before {
  content: 'Play';
}
.navigation[state=playing] .transcript-toolbar .controls .toggle-play .label:before {
  content: 'Pause';
}

$transcript-menu-height: 30px;
.transcript_edit-menu {
  height: $transcript-menu-height;
  line-height: $transcript-menu-height;
  margin-top: 5px;
  text-align: right;

  .menu-item {
    background: $green-color;
    color: $white;
    padding: 0 0.6em;
    margin-right: 5px;
  }
}
