# Used by speech-to-text.js
SPEECH_TO_TEXT_KEY=Ask admin to obtain the subscription key from Azure portal -> Cognitive Services -> Keys and Endpoint
SPEECH_TO_TEXT_REGION=australiaeast
DEFAULT_MAILER_HOST=localhost:3000

AWS_S3_ACCESS_KEY_ID=xxx
AWS_S3_SECRET_ACCESS_KEY=xxx
AWS_S3_REGION=xxx
