---
language: ruby
dist: xenial
rvm: '3.0.0'
cache: bundler

bundler_args: --jobs=3 --retry=3

services:
  - postgresql

addons:
  chrome: stable
  postgresql: "9.6"

before_install:
  - nvm install 12
  - export TZ=Australia/Sydney
  - gem update --system
  - gem install bundler --version 2.3.6

before_script:
  - bin/setup

script:
  - RAILS_ENV=test bundle exec rspec
