<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_institution.name %>
</p>

<%= link_to 'Edit', edit_admin_institution_path(@admin_institution) %> |
<%= link_to 'Back', admin_institutions_path %>
