<% content_for :javascripts do %>
  <%= javascript_include_tag 'search' %>
<% end %>
<%= render "shared/filter_hero" %>
<%= render partial: 'home/filters', locals: { extended_controls: false }  %>
<section class="search_results">
</section>
