@import "mixins";
@import "variables";

/* Text */
p .highlight {
  background: $highlight-color;
}
p.text-center {
  text-align: center;
}

/* Button */
.button {
  display: inline-block;
  padding: 0.2em 0.8em;
  background: $link-color;
  color: $white;
  cursor: pointer;

  &:hover {
    background: $link-hover-color;
    color: $white;
  }

  &.large {
    font-size: 1.4em;
  }

  &.list-next {
    font-size: 2em;
    margin: 1em auto;
    display: block;
    max-width: 300px;
    text-align: center;
  }
}

/* Menu */
.menu {
  .menu-item {
    display: inline-block;
    padding: 0.2em 0.8em;
  }
}

/* Crumbs */
.crumb {
  display: inline-block;
  padding: 0.2em 0.8em;

  &:before {
    @include icon("\f105");
    margin-right: 10px;
    vertical-align: middle;
  }

  .crumb-image {
    display: inline-block;
    margin-right: 5px;
  }

  .crumb-label {
    display: inline-block;
    vertical-align: middle;
  }
}

/* Loading */
.loading {
  &:after {
    content: ' ';
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 40px auto;
    background-color: $coolgray-color;
    border-radius: 100%;
    @include animation(pulseScaleOut 1.0s infinite ease-in-out);
  }
}

/* Alert */
.alert {
  background: $highlight-dark-color;
  max-width: 50%;
  margin: 10px auto;
  text-align: center;
  cursor: pointer;
  position: relative;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  @include transition-list(max-height 0.5s, opacity 0.5s);

  > div {
    padding: 5px 30px;
  }

  &:after {
    content: 'x';
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
    font-weight: bold;
  }

  &.active {
    opacity: 1;
    max-height: 1000px;
    overflow: visible;
  }
}

/* Select Box */
.select {
  display: inline-block;
  position: relative;
  background: $link-color;
  color: $white;
  cursor: pointer;
  padding: 0.2em 0.8em;
  white-space: nowrap;
  @include box-sizing();

  &:hover {
    background: $link-hover-color;
  }

  .select-active {

    &:after {
      margin-left: 5px;
      @include icon("\f0d7"); // http://fortawesome.github.io/Font-Awesome/icon/caret-down/
    }
  }

  .select-options {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    border-top: none;
    background: darken($link-color, 10%);
    @include box-sizing();
  }

  .select-option {
    display: block;
    padding: 0.4em;
    line-height: 1;
    color: $white;

    &:hover {
      color: $white;
      background: darken($link-color, 5%);
    }

    &.selected:after {
      margin-left: 5px;
      @include icon("\f00c"); // http://fortawesome.github.io/Font-Awesome/icon/check/
    }
  }

  &.active {
    .select-options {
      display: block;
    }
  }
}

/* Switch */
.onoffswitch {
  position: relative;
  min-width: 90px;
  @include user-select(none);
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  @include transition(margin 0.3s ease-in 0s);

  &:before, &:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    line-height: 30px;
    padding: 0;
    color: $white;
    @include box-sizing();
  }
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: $green-dark-color;
  color: $white;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: $coolgray-color;
  color: $charcoal;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: $white;
  position: absolute; top: 0; bottom: 0;
  right: 56px;
  border-radius: 100%;
  @include transition(all 0.3s ease-in 0s);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/* Inverse */
.inverse {
  background: $inverse-background-color;
  color: $white;

  a {
    color: $link-inverse-color;

    &:hover {
      color: $link-inverse-hover-color;
    }
  }
}

/* Modal */
$modal-max-width: 650px;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  @include transform(translate3d(0, 100%, 0));

  // Show modal when requested
  &.active {
    @include transform(none);
    width: auto;
    height: auto;
    opacity: 1;
  }

  // Content Area
  .modal-inner {
    position: absolute;
    top: 60px;
    left: 50%;
    z-index: 20;
    margin-left: ($modal-max-width / 2) * -1;
    width: $modal-max-width;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; // Native style momentum scrolling
    background: $white;
    padding: 20px;

    > img,
    > video {
      width: 100%;
      height: auto;
      min-height: 300px;
    }

    > img {
      width: auto;
      max-width: 100%;
    }
  }

  // Header
  header {
    color: $coolgray-color;
    font-size: 0.8em;
    margin-top: -10px;
  }

  // Content
  .modal-content {
    position: relative;
    max-height: 400px;
    max-height: 60vh;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    > * {
      max-width: 100%;
    }

    .modal-page {
      display: none;

      h1, h2, h3, h4, p {
        margin: 0.4em 0;
      }

      &.active {
        display: block;
      }
    }
  }

  // Tabs
  .modal-tabs {
    text-align: center;
    background: darken($coolgray-dark-color, 10%);
    padding: 0 20px;
    margin: 0 -20px;

    .modal-tab {
      display: inline-block;
      margin: 0 10px;
      cursor: pointer;
      color: $link-inverse-color;
      position: relative;
      padding: 10px 10px 4px;

      &:hover {
        color: $link-inverse-hover-color;
      }

      &.active {
        color: $white;
        cursor: default;

        &:after {
          content: ' ';
          display: block;
          position: absolute;
          top: 0;
          left: 50%;
          width: 0px;
          height: 0px;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid $white;
          margin-left: -6px;
        }
      }
    }
  }

  // Footer
  footer {
    padding: 10px 20px;
    background: lighten($coolgray-color, 20%);
    margin: -20px;
    margin-top: 0;
    text-align: left;
    @include clearfix();

    .button {
      font-size: 1.4em;
      margin-right: 10px;

      &.pull-right {
        float: right;
        margin-right: 0;
      }
    }
  }

  // A close button
  .modal-close {
    display: block;
    height: 1px; // Prevent close element to appear
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;

    &:focus:after {
      outline: none;
    }

    // Background as close
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      background: rgba($charcoal, 0.9);
    }

    // Actual close button on modal
    &:after {
      content: '\00d7';
      position: absolute;
      top: 56px;
      right: 50%;
      z-index: 1001;
      margin-right: -($modal-max-width / 2) - 30px;
      cursor: pointer;
      font-size: 2em;
    }
  }
}

// When screen isn't as wide as the modal anymore
@media screen and (max-width: $modal-max-width + 40) {
  .modal-inner {
    width: auto;
    left: 20px;
    right: 20px;
    margin-left: 0;
  }

  .modal-close {
    &:after {
      margin-right: 0 !important;
      right: 20px;
    }
  }
}
