@import "mixins";
@import "variables";

/* Text */
p .highlight,
li .highlight {
  background: $highlight-color;
}
p.text-center {
  text-align: center;
}

/* Inverse */
.inverse {
  background: $inverse-background-color;
  color: $white;
  a {
    color: $link-inverse-color;
    &:hover {
      color: $link-inverse-hover-color;
    }
  }
}

/* Loading */
.loading {
  &:after {
    content: 'loading';
    text-align: center;
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 1.4em;
    margin: 40px auto;
    background-color: $coolgray-color;
    border-radius: 100%;
    @include animation(pulseScaleOut 1.0s infinite ease-in-out);
  }
}

/* Screenreader only text. */
.sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@import "components/button";
@import "components/menu";
@import "components/crumbs";
@import "components/alert";
@import "components/select";
// @import "components/switch";
@import "components/modal";
@import "components/sticky";
