@import "mixins";
@import "variables";

.dashboard {

  .dashboard-transcript {
    border: 1px solid $coolgray-color;
    margin-bottom: 20px;
    padding: 10px;
    @include box-shadow(0 1px 1px 1px rgba($black, 0.1));
    @include clearfix();
  }

  .transcript-info {
    width: 100px;
    float: left;

    img {
      width: 100%;
      height: auto;
      margin-bottom: 5px;
      border: 1px solid $coolgray-color;
    }
  }

  .transcript-edits {
    margin: 0 150px 0 120px;
    max-height: 300px;
    overflow: hidden;
    @include transition(max-height 0.5s);

    &:hover {
      max-height: 2000px;
    }
  }

  .transcript-edit {
    font-size: 0.9em;
    padding: 5px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid lighten($coolgray-color, 20%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:last-child {
      border-bottom: none;
    }
  }

  .transcript-stats {
    float: right;
    width: 130px;
    text-align: center;

    .stat {
      background: #eee;
      padding: 10px 5px;
      margin-top: 10px;
      border: 1px solid #ccc;

      &:first-child {
        margin: 0;
      }
    }

    .stat-label {
      font-size: 0.8em;
      text-transform: uppercase;
    }
    .stat-value {
      font-weight: bold;
      font-size: 1.4em;
      margin-top: 10px;

      &.small {
        font-size: 1em;
      }
    }
  }
}

table.dashboard-table {
  background-color: #f9f9f9;
  width: 90%;
  margin-left: 5%;
  margin-top: 0;
  border: 0;
}

/*table.dashboard-table tr, table.dashboard-table td {
  min-height: default;
}*/

.dashboard-table tr.dashboard-table-header {
  background-color: #ddd;
}
table.dashboard-table tr td {
  width: auto;
}

table.dashboard-table tr td.long {
  text-overflow: ellipsis;
  overflow-x: hidden;
  max-width: 20vw;
  white-space: nowrap;
}

div.nav-tabs {
  position: relative;
  margin-right: 5%;
/*  right: 0;*/
  float: right;
}

div.nav-tabs div {
  margin-right: 0;
  display: inline-block;
  border-radius: 12px 12px 0 0;
  width: 9vw;
  color: #6fc3e3;
  background-color: #000;
  text-align: center;
}

div.nav-tabs div.active {
  color: #000;
  background-color: #ddd;
}

div.dashboard-section {
  display: block;
  margin-bottom: 4em;
  min-height: 20em;
  max-height: 20em;
  overflow: hidden;
}


div.dashboard-section h2 {
  margin-left: 5%;
}

div.paging div div {
  font-size: 12px;
  margin-left: 1vw;
  width: 4vw;
  display: inline-block;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
}

div.paging div.paging-numbers {
  color: #000;
  position: absolute;
  margin-left: 48vw;
}

div.paging div div.disabled {
  background-color: #eee;
}

div.paging div.prev {
  position: absolute;
  min-height: 1px;
  margin-left: 30vw;
}

div.paging div.next {
  position: absolute;
  min-height: 1px;
  margin-left: 55vw;
}

#chart {
  margin-left: 5%;
}