@import "mixins";
@import "variables";

.footer {
  margin-top: 40px;
  text-align: center;
  background: #eee;
  padding-bottom: 40px;

  .navigation {
    padding: 10px 0;
  }

  img {
    max-width: 400px;
    height: auto;
  }
}
