@import "mixins";
@import "variables";

.footer {
  margin-top: 40px;
  text-align: center;
  background: #eee;

  .navigation {
    padding: 10px 0;
  }

  p {
    margin: 0;
    padding: 10px;
  }
}
