@import "mixins";
@import "variables";

body {
  padding-top: $header-nav-height * 2;
  // padding-bottom: $secondary-header-nav-height * 2;
}
.header {
  position: fixed;
  z-index: 1001;

  top: 0;
  left: 0;
  width: 100%;
  @include box-sizing();
  @include clearfix();

  .navigation {
    position: relative;
    z-index: 1000;
    clear: both;

    &.primary {
      z-index: 2000;
    }

    > div {
      width: 100%;
    }
    @include clearfix();
  }

  .title-container {
    width: 100%;

    .title {
      display: block;
      padding: 5px;
      margin: 0;
    }

    h1 {
      font-size: 22px;
    }

    .logo {
      display: block;
      height: $header-nav-height - 10px;
      width: auto;
      position: absolute;
    }

    .home-banner {
      height: 380px;
      background: linear-gradient(180deg, #333333 50%, #000000 50%);

      .logo {
        margin-top: 4px;
        margin-left: 5px;
      }

      .banner-main {
        height: 100%;
        background-image: url('/nsw-state-library-amplify/assets/img/waveform.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        text-align: center;

        .logo {
          position: static;
          display: block;
          margin: 0 auto;
          width: 100%;
          max-width: 400px;
          height: auto;
        }

        .banner-text {
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);

          h1, h2 {
            margin: 0;
            clear: both;
            line-height: 1.2;
          }

          h1 {
            font-family: 'Muli', Arial, Helvetica, sans-serif;
            font-size: 5em;
            letter-spacing: 1px;
          }

          h2 {
            font-family: "Times New Roman", Times, serif;
            font-style: italic;
            font-size: 2em;
            font-weight: lighter;
            letter-spacing: 2px;
          }
        }
      }
    }

    .header-bar {
      .title {
        padding: 0;
      }

      .logo {
        position: static;
        display: inline;
        margin-top: 4px;
        margin-left: 5px;
      }

      .logo-text {
        display: inline;
        font-family: 'Muli', Arial, Helvetica, sans-serif;
        color: #2799c5;
        line-height: 1;
        font-size: 2.3em;
      }
    }
  }

  .crumbs-container, .account-container, .menu-container {
    display: inline;
  }

  .crumbs-container {
    float: left;
    height: $header-nav-height;

    .crumb {
      height: $header-nav-height;
      line-height: $header-nav-height;
      padding-top: 0;
      padding-bottom: 0;

      &:before {
        vertical-align: top;
        height: $header-nav-height;
        line-height: $header-nav-height;
        font-size: 1.4em;
      }
    }

    .crumb-image {
      height: $header-nav-height;
      line-height: $header-nav-height;
    }

    .crumb-label {
      vertical-align: top;
    }

    img {
      display: inline-block;
      max-height: $header-nav-height - 10px;
      width: auto;
      margin-top: 5px;
    }
  }

  .menu-container {
    float: right;
    padding-right: 10px;
    background: $inverse-background-color;

    .menu-item {
      height: $header-nav-height;
      line-height: $header-nav-height;
      padding-top: 0;
      padding-bottom: 0;
      cursor: pointer;
      background: $inverse-background-color;

      &:hover {
        background: lighten($inverse-background-color, 10%);
      }

      &.active {
        color: $white;
        cursor: default;
        &:hover {
          background: none;
        }
      }
    }
  }
  .account-container {
    float: right;

    .select .select-options {
      right: 0;
      left: auto;
      width: auto;
      min-width: 100%;
    }

    .select {
      display: block;
      height: $header-nav-height;
      line-height: $header-nav-height;
      padding-top: 0;
      padding-bottom: 0;
    }

    .score {
      font-size: 0.8em;
      display: none;
      @include border-radius(10px);
      background: $black;
      height: 20px;
      line-height: 21px;
      padding: 0 7px;
      margin-right: 3px;
      vertical-align: middle;

      &.active {
        display: inline-block;
      }
    }
  }
}
