@import "mixins";
@import "variables";

body {
  padding-top: $header-nav-height + $secondary-header-nav-height + 40px;
}
.header {
  position: fixed;
  z-index: 1000;

  top: 0;
  left: 0;
  width: 100%;
  @include box-sizing();
  @include clearfix();

  .navigation {
    max-height: $header-nav-height;
    @include clearfix();
  }

  .title-container {
    float: left;

    .title {
      display: block;
      padding: 5px;
    }

    .logo {
      display: block;
      max-height: $header-nav-height - 10px;
      width: auto;
    }
  }

  .crumbs-container {
    float: left;

    .crumb {
      height: $header-nav-height;
      line-height: $header-nav-height;
      padding-top: 0;
      padding-bottom: 0;

      &:before {
        vertical-align: top;
        height: $header-nav-height;
        line-height: $header-nav-height;
        font-size: 1.4em;
      }
    }

    .crumb-image {
      height: $header-nav-height;
      line-height: $header-nav-height;
    }

    .crumb-label {
      vertical-align: top;
    }

    img {
      display: inline-block;
      max-height: $header-nav-height - 10px;
      width: auto;
      margin-top: 5px;
    }
  }

  .menu-container {
    float: right;
    margin-right: 10px;

    .menu-item {
      height: $header-nav-height;
      line-height: $header-nav-height;
      padding-top: 0;
      padding-bottom: 0;

      &:hover {
        background: lighten($inverse-background-color, 10%);
      }
    }
  }
  .account-container {
    float: right;

    .select {
      display: block;
      height: $header-nav-height;
      line-height: $header-nav-height;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
