@import "mixins";
@import "variables";

@import "transcripts/facets";
@import "transcripts/list";
@import "transcripts/show";
@import "transcripts/lines";
@import "transcripts/toolbar";
@import "transcripts/verify";
@import "transcripts/progress";

.transcripts-wrapper {
  min-height: 400px;
  margin: 50px -10px 0;
  padding: 0 10px 30px;
  background: #f1f1f1;
  border-top: 1px solid lighten($coolgray-color, 25%);
  border-bottom: 1px solid lighten($coolgray-color, 25%);
}
