@import "mixins";
@import "variables";

@import "transcripts/facets";
@import "transcripts/list";
@import "transcripts/show";
@import "transcripts/lines";
@import "transcripts/toolbar";
@import "transcripts/verify";
@import "transcripts/progress";
@import "transcripts/flag";
@import "transcripts/download";
@import "transcripts/search";

.transcripts-wrapper {
  min-height: 400px;
  margin: 50px -10px 0;
  padding: 0 10px 30px;
  background: #f1f1f1;
  border-top: 1px solid lighten($coolgray-color, 25%);
  border-bottom: 1px solid lighten($coolgray-color, 25%);
}

#video-player {
  margin-left:  2vh;
  margin-right:  2vh;
  margin-bottom: 2vh;
  position: relative;
  display: inline-block;
  z-index: 1000;
  width: 20vw;
  overflow: hidden;
  background-color: #222;
}

#video-player video {
  max-width: 20vw;
  width: 100%;
  opacity: 1;
  transition: opacity 0.4s  ;
}

#video-player.pip {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  position: fixed;
/*  bottom: 0vh;*/
  bottom: 50px;
  right: 4vw;
  max-width: 16vw;
}


#video-player div#minmax {
  text-align: center;
  vertical-align: middle;
  background-color: #ddd;
  position: relative;
  display: none;
  width: 2.2vw;
  height: 2.2vw;
  max-width: 2.2vw;
/*  max-height: 64px;*/
  max-height: 2.2vw;
  line-height: 2.2vw;
}

#video-player.pip div#minmax {
  position: absolute;
  z-index: 100;
  display: block;
  right: 0;
}

#video-player.pip.min {
  bottom: 50px;
  height: 2.2vw; 
/*  max-height: 64px; */
}

#video-player.pip.min div#minmax {
  top: 0;
}

#video-player.pip.min video {
  opacity: 0;
}

input[type='radio'] {
}

button.playback-rate-button {
  /*padding: 0.2em 0.4em;
  display: inline-block;
  font-size: 0.6em;*/
  line-height: normal;
/*  width: 10%;*/
  color: #000;
}

button.playback-rate-button.highlight {
  color: #ddd;
  background-color: #222;
}

