// Taken from: http://ethyl.nypl.org/

$primary-color: #ED1C24;
$secondary-color: #2799C5;
$highlight-dark-color: #FEE24A;
$highlight-color: #FFF0A1;
$coolgray-dark-color: #837E77;
$coolgray-color: #A3A19E;
$footer-color: #54514A;
$charcoal: #333333;
$black: #000000;
$white: #FFFFFF;

// Component colors
// -------------------------

$inverse-background-color: $charcoal;
$link-color: $secondary-color;
$link-hover-color: lighten($secondary-color, 10%);
$link-inverse-color: lighten($secondary-color, 20%);
$link-inverse-hover-color: lighten($secondary-color, 30%);

// Component dimensions
// -------------------------

$header-nav-height: 40px;
$secondary-header-nav-height: 40px;
