
$red-color: #bf4448;
$blue-color: #2799C5;
$green-dark-color: #437529;
$green-color: #579B34;
$yellow-dark-color: #FEE24A;
$yellow-color: #FFF0A1;
$orange-color: #e2b33b;
$orange-dark-color: #ada87c;
$charcoal: #333333;
$coolgray-dark-color: #837E77;
$coolgray-color: #A3A19E;
$black: #000000;
$white: #FFFFFF;

$primary-color: $red-color;
$secondary-color: $blue-color;
$highlight-dark-color: $yellow-dark-color;
$highlight-color: $yellow-color;

// Material Design Colors
// https://www.google.com/design/spec/style/color.html#color-color-palette

$red: #F44336;
$pink: #E91E63;
$purple: #9C27B0;
$indigo: #3F51B5;
$blue: #2196F3;
$cyan: #00BCD4;
$green: #4CAF50;
$orange: #FF9800;

// Component colors
// -------------------------

$inverse-background-color: $charcoal;
$link-color: $secondary-color;
$link-hover-color: lighten($secondary-color, 10%);
$link-inverse-color: lighten($secondary-color, 20%);
$link-inverse-hover-color: lighten($secondary-color, 30%);

// Component dimensions
// -------------------------

$header-nav-height: 40px;
$secondary-header-nav-height: 50px;

// Page dimensions
// -------------------------

$page-tablet-width: 768px;
