<div class="search_item">
  <div
    class="search_item__image"
    style="background-image: url(https://slnsw-amplify.s3.amazonaws.com/collections_v2/australian_dance/images/AustralianBallet_LondonColiseum_POSTERS1557_6.jpg)"
  ></div>
  <div class="search_item__details">
    <div class="search_item__title">
      Australian Dance - Brian Thomson [Part 1] interviewed by Martin Portus
    </div>
     <a href="/v2/edit" class="search_item__line">
       and I'm interviewing the artistic director of the Sydney <span class="highlighted yellow">Dance</span> Company, choreographer Rafael Bonachela on the
     </a>
     <div class="search_item__line-type">(user-generated text)</div>
  </div>
</div>
