<section class="main_hero edit">
  <%= button_tag "Show conventions", class: "button yellow" %>
</section>
<section class="transcript_info">
  <article class="transcript_info__content">
    <header class="transcript_info__header">
      <h1 class="transcript_info__title">
        Transcript title - Interviewed by a person with a long name
      </h1>
    </header>
    <div class="transcript_info__details">
      <p>
        Collected by the Richmond-Tweed Oral History Group. Recorded in Lismore on 5 May, 1993.
      </p>
      <p>
        Interview summary: Experiences at Jiggi Public School; lunches; caring for her mother; discussion of family members; meeting her husband; experiences as a young woman; losing the land.
      </p>
      <p>
        Image: Roger Marchant, c.1975-1985.
      </p>
      <p class="transcript_info__disclaimer">
        <em>
          All images used on this platform are drawn from the Library's collections but are not intended to represent individual speakers unless explicitly stated. If you can provide us with further detail about the images and/or audio on this page please
          <a href="mailto:digital.volunteering@sl.nsw.gov.au">contact us</a>
        </em>
      </p>
      <p class="transcript_info__duration">
        Duration: 32m
      </p>
      <p><em>
        Participants: Severina Perin, Kerynne Sbrocchi
      </em></p>
    </div>
    <ul class="transcript_info__links">
      <li><em><%= link_to "View audio in Library catalogue" %> <i class="fas fa-share-square"></i></em></li>
      <li><em><%= link_to "View image in Library catalogue" %> <i class="fas fa-share-square"></i></em></li>
      <li><em><%= link_to "Download the transcript" %></em> <i class="fas fa-download"></i></li>
    </ul>

    <div class="transcript_info__key">
      <div class="transcript_item__info">
        6 contributors have edited 212 lines
      </div>
      <div class="transcript_item__status">
        <div class="transcript_item__status-bar edited" style="width: 50%"></div>
        <div class="transcript_item__status-bar completed" style="width: 12%"></div>
        <div class="transcript_item__status-bar reviewing" style="width: 39%; left: 12%;"></div>
      </div>
      <div class="transcript_item__status-key">
        <div class="transcript_item__status-text completed">12% of lines reached consensus</div>
        <div class="transcript_item__status-text reviewing">39% of lines awaiting review</div>
      </div>
    </div>
  </article>
</section>
