<section class="main_hero">
  <article class="main_hero__content">
    <%= image_tag "Amplify_logo_WHITE_COLOUR",
          alt: "Amplify logo",
          width: 350
    %>
    <h1 class="main_hero__title">
      Bringing the stories of New South Wales<br>
      together for you to listen, transcribe and enrich.
    </h1>
    <%= link_to "Powered by the State Library of NSW",
          "https://www.sl.nsw.gov.au/",
          target: "_blank",
          class: "main_hero__subtitle"
    %>
  </article>
</section>
