<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= project["name"] %></title>
  <meta name="description" content="<%= project["description"] %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="assets/css/app.css">
  <link rel="stylesheet" href="project/assets/css/styles.css">
</head>
<body>

  <div id="app" class="container">
    <div id="header" class="header">
      <div id="navigation" class="navigation"></div>
      <div id="account" class="account loading"></div>
    </div>
    <div id="main" class="body loading"></div>
    <div id="footer" class="footer"></div>
  </div>

  <script src="assets/js/project.js"></script>
  <script src="assets/js/app.js"></script>
  <script src="project/assets/js/custom.js"></script>
</body>
</html>
