.page_container {
  background-color: #FFFFFF;
  color: #272727;
  margin-left: 17%;
  margin-right: 17%;
  padding: 30px;
}

.cms {
  margin-bottom: 20px;
  a {
    color: $cyan;
    font-size: 1rem;
    font-style: italic;
    text-decoration: underline;
    line-height: 1.5em;
    &:hover {
      color: $dark-cyan;
    }
  }
}

.wysiwyg-reset *{
  font-family: inherit;
}
