$amplify-logo:    image-url('Amplify_logo_WHITE_COLOUR');
$home-background: image-url('home_hero_background');

$drop-down-icon:  image-url('icons/icon-dropdown');
$search-icon:     image-url('icons/icon-search');
