// Global variables, brand colours, etc

// Colours
$dark-cyan:         #27676B;
$very-dark-cyan:    #0A2C33;
$soft-orange:       #F5C653;
$light-yellow:      rgba($soft-orange, 0.4);

// Shades
$white:             #FFFFFF;
$light-grey:        #E7E8E9;
$grey:              #CCCCCC;
$dark-grey:         #333333;
$dark-red-black:    #231F20;
$black:             #272727;

// Theme and page variables
$brand-cyan:              $dark-cyan;
$brand-yellow:            $soft-orange;

$body-background:         $white;
$body-foreground:         $black;
$text-link:               $brand-yellow;
$highlight-background:    $light-yellow;

$header-background:       $dark-red-black;
$header-text:             $brand-yellow;
$header-text-active:      $white;

$hero-forground:          $white;
$sub-hero-background:     $brand-cyan;

$filter-background:       $very-dark-cyan;
$filter-foreground:       $white;

$input-background:        $white;
$input-foreground:        $black;
$select-background:       $brand-yellow;

$button-foreground:       $white;
$button-cyan:             $brand-cyan;
$button-yellow:           $brand-yellow;
$button-dark:             $very-dark-cyan;
$button-disabled:         $grey;

$footer-background:       $very-dark-cyan;
$sub-footer-background:   $dark-grey;
$footer-foreground:       $white;
