$amplify-logo:    image-url('Amplify_logo_WHITE_COLOUR');
$edit-background: image-url('example_hero_background');
$home-background: image-url('home_hero_background');

$cross-icon:      image-url('icons/icon-cross');
$drop-down-black: image-url('icons/icon-dropdown-black');
$drop-down-yellow: image-url('icons/icon-dropdown-yellow');
$drop-down-white: image-url('icons/icon-dropdown-white');
$drop-up-white:   image-url('icons/icon-dropup-white');
$menu-icon:       image-url('icons/icon-menu');
$search-icon:     image-url('icons/icon-search');
$checkbox-checked:      image-url('icons/icon-checked');
$checkbox-unchecked:    image-url('icons/icon-unchecked');

