$amplify-logo:    image-url('Amplify_logo_WHITE_COLOUR');
$edit-background: image-url('example_hero_background');
$home-background: image-url('home_hero_background');

$cross-icon:      image-url('icons/icon-cross');
$cross-icon-black:      image-url('icons/icon-cross-black');
$drop-down-black: image-url('icons/icon-dropdown-black');
$drop-down-yellow: image-url('icons/icon-dropdown-yellow');
$drop-down-white: image-url('icons/icon-dropdown-white');
$drop-up-white:   image-url('icons/icon-dropup-white');
$menu-icon:       image-url('icons/icon-menu');
$search-icon:     image-url('icons/icon-search');
$play-all-icon:     image-url('icons/play');
$checkbox-checked:      image-url('icons/icon-checked');
$checkbox-unchecked:    image-url('icons/icon-unchecked');

$auth-link-email-icon: image-url('auth-link/slnsw-icon-envelope-rounded');
$auth-link-facebook-icon: image-url('auth-link/third-party-facebook');
$auth-link-google-icon: image-url('auth-link/third-party-google');
