$amplify-logo:    image-url('Amplify_logo_WHITE_COLOUR');
$home-background: image-url('home_hero_background');

$cross-icon:      image-url('icons/icon-cross');
$drop-down-icon:  image-url('icons/icon-dropdown');
$menu-icon:       image-url('icons/icon-menu');
$search-icon:     image-url('icons/icon-search');
