h1, h1 strong, h1 em {
  font-size: rem-calc(48);
  color: inherit;
  font-family: $title-font;
  line-height: 1.5;
}

h2, h2 strong, h2 em {
  font-size: rem-calc(36);
  color: inherit;
  font-family: $title-font;
  line-height: 1.5;
}

h3, h3 strong, h3 em {
  font-size: rem-calc(24);
  color: inherit;
  font-family: $title-font;
  line-height: 1.2;
}

h4, h4 strong, h4 em {
  font-size: rem-calc(18);
  color: inherit;
  font-family: $title-font;
  line-height: 1.2;
}

h5, h5 strong, h5 em {
  font-size: rem-calc(16);
  color: inherit;
  font-family: $title-font;
  line-height: 1.2;
}

em {
  font-style: italic;
  font-size: inherit;
  line-height: 1.2;
}

strong {
  font-weight: bold;
  font-size: inherit;
  color: inherit;
  line-height: 1.2;
}

p, a, ul li, ol li, span {
  font-size: rem-calc(16);
  font-family: $body-font;
  line-height: 1.2;
  color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: $text-link;
  text-decoration: none;
  &:hover, &:focus {
    color: $text-link;
    text-decoration: underline;
  }
}

sub, sup, small {
  font-size: 80%;
}

::-moz-selection { background: $highlight-background; }
::selection { background: $highlight-background; }

.highlighted {
  &.green {
    background: rgba($progress-completed, 0.6);
  }
  &.yellow {
    background: $highlight-background;
  }
}
