<section class="search_bar">
  <article class="search_bar__content">
    <form class="search_bar__form" id="search-form">
      <div class="search_field">
        <%= search_field_tag "keyword",nil, placeholder: "Search All Transcripts" %>
        <%= button_tag "Start", class: "button icon search" %>
      </div>
    </form>
  </article>
</section>
