<aside id="mobile-warning" class="bottom-screen-alert" aria-hidden="true">
  <div class="bottom-screen-alert__inner">
    <p>Amplify is optimised for desktop users.</p>
    <p>A mobile interface for Amplify is on our roadmap,
      but for now you will have the best experience
      on your desktop computer.
      Sorry for the inconvenience.</p>
    <button class="button yellow">OK</button>
  </div>
</aside>
