<aside id="mobile-warning" class="bottom-screen-alert" aria-hidden="true">
  <div class="bottom-screen-alert__inner">
    <h5>Visiting from a mobile device?</h5>
    <p>
      Amplify is a community tool and anyone can help improve the quality of our transcripts.
      For full editing functionality, please visit Amplify from a computer, laptop or tablet.
      Otherwise please enjoy browsing and listening to our fascinating audio collections from your mobile device.
    </p>
    <button class="button dark">OK</button>
  </div>
</aside>
