<aside id="mobile-warning" data-page="<%= type %>" class="bottom-screen-alert" aria-hidden="true">
  <div class="bottom-screen-alert__inner">
    <h5><%= title %></h5>
    <p>
      <%= body %>
    </p>
    <button class="button dark">OK</button>
  </div>
</aside>
