<aside id="mobile-warning" class="bottom-screen-alert" aria-hidden="true">
  <div class="bottom-screen-alert__inner">
    <h5>Please note: Amplify is currently optimised for desktop users.</h5>
    <p>You can still explore and listen to collections from your mobile device,
    but editing transcripts is best experienced from a computer.
    Apologies for any inconvenience.</p>
    <button class="button yellow">OK</button>
  </div>
</aside>
