<% if collection.any? %>
  <div name="filter-by-collection" class="select collection">
    <div class="select-active toggle-data_collection_id_" id="collection-filter"></div>
  </div>

  <div class="checkbox-list" id="data_collection_id_">
    <%= collection_check_boxes('data', 'collection_id', collection, "id", "title", include_hidden: false) do |b| %>
      <div class="option">
        <%= b.check_box(checked: should_be_checked?(b)) %> <%= b.label %>
      </div>
    <% end %>
  </div>
<% else %>
  No collection found
<% end %>


<script type="text/javascript">
  $(document).ready(function() {
    var size = $('#data_collection_id_ input[type=checkbox]:checked').size();
    if (size === 0) {
      $('#collection-filter').text("All Collections");
    } else {
      $('#collection-filter').text("Collections (" + size + ")");
    }

    $('.toggle-data_collection_id_').click(function() {
      $('#data_collection_id_').show();
    });

    $('#data_collection_id_').change(function() {
      var size = $(this).find('input[type=checkbox]:checked').size();
      $('#collection-filter').text("Collections (" + size + ")");
    });
  })
</script>