<section class="sub_hero">
  <article class="sub_hero__content">
    <header>
      <h2 class="sub_hero__title">
        <%= @app_config.intro_title  %>
      </h2>
    </header>
    <p>
      <%= raw(@app_config.intro_text) %>
    </p>
  </article>
</section>

