<% content_for :javascripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>
<%= render partial: 'hero_content', locals: { institution: nil, app_config: @app_config }  %>
<%= render 'sub_hero_content'  %>
<!-- extended_controls -> sort and search boxes -->
<%= render partial: 'filters', locals: { extended_controls: true }  %>
<section id="transcript-results">
</section>
