<div class="row">
  <div class="col-10">
    There are no items for this collection.
  </div>

  <div class="col-2">
    <%= link_to "Add Item",
        new_admin_cms_transcript_path(collection_uid: @collection.uid),
        method: "get",
        data: { disable_with: "Loading..." },
        class: "button"
    %>
  </div>
</div>
