<div class="alert-light" role="alert">
* A UID is a Unique Identifier assigned to each file you create in the database. UIDs are also used to generate URLs for individual pages. Your UID should be a very shorthand version of your item title that will make sense to an end user if they were reading a URL.

Your UID should,

<br />
<ul>
  <li>- be maximum 30 characters</li>
  <li>- not have any spaces</li>
  <li>- Only allowed characters are, letters, numbers, Underscore (`_`) and hyphen (`-`) </li>
</ul>

For example, if your item is titled 'Interview with Jane Citizen [Part 1]', an acceptable UID would be 'jane_citizen_part1'.
</div>
