<div class="row">
  <div class="col-10">
    There are no collections for this project.
  </div>

  <div class="col-2">
    <%= button_to "Add Collection",
        new_admin_cms_collection_path,
        method: "get",
        data: { disable_with: "Loading..." }
    %>
  </div>
</div>
