@import "../../base/editor_mixins";
@import "../../base/editor_variables";

.transcript-results {
  > p:first-child {
    text-align: center;
    font-style: italic;
    color: $coolgray-dark-color;
    font-size: 1.2em;
  }

}

.transcript-list {
  text-align: center;
  position: relative;

  .transcript-item {
    display: inline-block;
    text-align: left;
    width: 200px;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    background: $white;
    border: 1px solid lighten($coolgray-color, 15%);
    color: $black;
    position: relative;
    margin: 5px;
    vertical-align: top;
    @include box-sizing();
    @include transition-transform(0.5s);
    @include animation(fadeIn 0.5s);

    &:nth-child(3n+1) {
      @include animation-duration(0.2s);
    }

    &:nth-child(3n+2) {
      @include animation-duration(0.8s);
    }

    &:hover {
      @include transform(translateY(-6px));
    }
  }

  audio {
    display: none;
  }

  .item-image {
    height: 200px;
    width: 100%;
    background: $inverse-background-color center top no-repeat;
    background-size: cover;
    border-bottom: 1px solid lighten($coolgray-color, 15%);
    @include transition(opacity 0.5s);
  }
  .transcript-item.buffering {
    .item-image {
      opacity: 0.5;
    }
    &:after {
      @include icon("\f110");
      color: rgba($white, 0.8);
      font-size: 6em;
      display: block;
      position: absolute;
      top: 20px;
      left: 50%;
      margin-left: -50px;
      text-align: center;
      z-index: 10;
      @include animation(spin 2s infinite linear);
    }
  }
  .item-title,
  .item-subtitle,
  .item-description,
  .item-info {
    padding: 5px;
  }
  .item-title {
    font-size: 1.2em;
    padding-top: 0;
  }
  .item-subtitle {
    color: $red-color;
    padding-bottom: 0;
    margin-top: 5px;
    font-size: 0.7em;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
  }
  .item-description {
    display: block;
    display: -webkit-box;
    font-size: 0.8em;
    max-height: 60px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: darken($coolgray-dark-color, 3%);
    @include box-sizing();
  }
  .item-info {
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0.3em;
    color: lighten($coolgray-dark-color, 10%);
    @include clearfix();
    @include box-sizing();
  }
  .item-contributors {
    float: right;
  }
}

.item-status {
  background: lighten($coolgray-color, 20%);
  border-top: 1px solid lighten($coolgray-color, 15%);
  border-bottom: 1px solid lighten($coolgray-color, 15%);
  position: relative;
  padding: 0;
  height: 10px;

  .item-status-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
    background: $yellow-dark-color;
    &.reviewing {
      background: $orange-color;
    }
    &.completed {
      background: lighten($green-color, 10%);
    }
  }
}
.item-status-key {
  padding: 5px;
  background: #eee;

  .item-status-text {
    line-height: 12px;
    font-size: 0.8em;
    color: darken($coolgray-dark-color, 3%);
    vertical-align: middle;
    margin-top: 10px;

    &:first-child {
      margin-top: 5px;
    }

    &:before {
      content: ' ';
      width: 10px;
      height: 10px;
      display: inline-block;
      margin-right: 5px;
      background: $yellow-dark-color;
      border: 1px solid lighten($coolgray-color, 15%);
      vertical-align: middle;
      margin-top: -2px;
      @include border-radius(6px);
    }
    &.reviewing:before {
      background: $orange-color;
    }
    &.completed:before {
      background: lighten($green-color, 10%);
    }
  }
}
