// @file
// Modal popup.

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  z-index: 2000;
  overflow: hidden;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.25s ease-out;

  &.active {
    transform: none;
    width: auto;
    height: auto;
  }

  .modal-close {
    display: block;
    height: 1px;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      background: rgba(51,51,51,0.9);
    }

    &:after {
      content: "\00d7";
      position: absolute;
      top: 56px;
      right: 50%;
      z-index: 1001;
      margin-right: -320px;
      cursor: pointer;
      font-size: 2em;
    }
  }
  .modal-inner {
    position: absolute;
    top: 60px;
    left: 50%;
    z-index: 20;
    max-width: 650px;
    transform: translateX(-50%);
    overflow-x: hidden;
    background: white;
    padding: 20px;
  }

  .modal-label {
    font-size: 0.8em;
    color: #a3a19e;
    margin-top: -10px;

    .control {
      font-size: 36px;
    }
  }
}