.flex-container {
  display: flex;
  border:1px solid $very-dark-cyan;
  margin-bottom: 20px;
  box-shadow: 6px 5px #CCCCCC;

  &__img_div{
    background-color: #f1f1f1;
    width: 20%;
  }
  &__edits_div{
    width: 60%;
  }
  &__stats_div{
    width: 20%;
    &__stats_details{
      background-color: #f1f1f1;
    }
  }
}

.flex-container > div {
  background-color: $white;
  padding: 10px;
}

.transcript-edits > ul.li {
  background-color: #f1f1f1;
  margin: 1px;
  padding: 20px;
  font-size: 30px;
  color: red;
}

.stat-details {
  background-color: #f1f1f1;
  padding: 6px;
  margin-bottom: 20px;
  border:1px solid $very-dark-cyan;

}

.transcript-edit {
  font-size: 0.9em;
  padding: 5px 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #d5d4d2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.text-center { text-align: center; }

.collapsed {
  display: none;
}
