.filter_bar {
  background: $filter-background;
  color: $filter-foreground;
  &__content {
    @include content_wrap;
    padding: 10px 0;
  }
  &__form {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 10px;
    align-items: center;
    flex-flow: column;
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
  &__fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    @include mobile {
      flex-direction: column;
    }
  }
  select {
    margin: 5px;
    @include desktop {
      max-width: 150px;
    }
    @include mobile {
      margin: 10px 0;
      width: 75%;
    }
  }
  .search_field  {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 30px;
    @include mobile {
      width: 75%;
    }
    .button.search {
      line-height: 40px;
      height: 30px;
      width: 30px;
    }
  }
  // Hides and shows the filters on mobile
  &__mobile_toggle {
    @include hidden-input;
    &:checked ~ .filter_bar__fieldset {
      position: relative;
      opacity: 1;
      visibility: visible;
      z-index: auto;
    }
    &:checked + .filter_bar__toggle_label {
      background-image: $drop-up-white;
    }
  }
  &__toggle_label {
    background-image: $drop-down-white;
    background-position: 65% 50%;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    text-align: center;
    cursor: pointer;
  }
  &__fieldset {
    @include mobile {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }
  }
}

.search_bar {
  background-color: $body-background;
  padding: 30px;
  &__content {
    @include content_wrap;
  }
  &__form {
    display: flex;
    justify-content: center;
  }
  .search_field  {
    display: flex;
    align-items: center;
    input[type="search"], .button {
      border: 1px solid $input-border;
    }
    input[type="search"] {
      min-width: 450px;
      height: 40px;
      line-height: 40px;
      font-size: rem-calc(18);
      border-right: 0;
      @include mobile {
        min-width: 200px;
      }
    }
  }
}
