.filter_bar {
  background: $filter-background;
  color: $filter-foreground;
  &__content {
    @include content_wrap;
    padding: 10px 0;
  }
  &__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 10px;
    align-items: center;
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
  &__fieldset {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include mobile {
      flex-direction: column;
    }
  }
  select {
    margin: 5px;
    @include desktop {
      max-width: 150px;
    }
    @include mobile {
      margin: 10px 0;
      width: 75%;
    }
  }
  .search_field  {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 30px;
    @include mobile {
      width: 75%;
    }
    .button.search {
      line-height: 40px;
      height: 30px;
      width: 30px;
    }
  }
}
