.main_footer {
  background-color: $footer-background;
  color: $footer-foreground;
  margin-top: 15px;
  min-height: $footer-height;
  padding: 30px;
  @include mobile {
    padding: 15px 0;
  }
  &__content {
    @include content_wrap;
    p, a {
      font-size: rem-calc(14);
      margin-bottom: 1em;
    }
  }
  &__logos {
    margin-bottom: 30px;
    img {
      margin-right: 30px;
    }
  }
}

.sub_footer {
  background-color: $sub-footer-background;
  padding: 15px 0;
  &__content {
    @include content_wrap;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $sub-footer-foreground;
    a {
      color: $sub-footer-foreground;
      font-size: rem-calc(12);
    }
  }
}
