.main_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $header-background;
  color: $header-text;
  height: $header-height;
  padding: 10px;
  &__nav {
    a {
      display: inline-block;
      margin: 0 10px;
      &:focus, &:hover, &.active {
        color: $header-text-active;
      }
    }
  }
}
