.main_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $header-background;
  color: $header-text;
  height: $header-height;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  img {
    max-width: 100%;
    @include mobile {
      width: 100px;
    }
  }
  &__nav {
    a {
      display: inline-block;
      margin: 0 10px;
      font-weight: bold;
      font-size: rem-calc(16);
      &:focus, &:hover, &.active {
        color: $header-text-active;
      }

      &.dropdown-link {
        display: block;
        white-space: nowrap;
        margin: 10px 0;
      }

      &.auth-link {
        padding: 10px;
        line-height: 32px;
        margin: 0;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        &:focus, &:hover, &.active {
          border-bottom: 2px solid white;
        }
      }

      .auth-link__logo {
        display: inline-block;
        background-size: contain;
        background-position: top left;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        margin: 0;
        vertical-align: middle;
        margin-right: 6px;
      }

      &.auth-link--email {
        background-color: $auth-email-background;
        color: $auth-email-foreground;
        .auth-link__logo {
          background-image: $auth-link-email-icon;
        }
      }
      &.auth-link--facebook {
        background-color: $third-party-facebook-background;
        color: $third-party-facebook-foreground;
        .auth-link__logo {
          background-image: $auth-link-facebook-icon;
        }
      }
      &.auth-link--google {
        background: $third-party-google-background;
        color: $third-party-google-foreground;
        .auth-link__logo {
          background-image: $auth-link-google-icon;
          margin: -4px 2px -4px -4px;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  &__title {
    color: $header-text-active;
    font-size: rem-calc(16);
    text-align: left;
    flex-grow: 1;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 20%;
    text-overflow: ellipsis;
  }
  &__mobile_nav_toggle {
    @include hidden-input;
    &:checked ~ .main_header__nav_list {
      top: $header-height;
      opacity: 1;
      visibility: visible;
      z-index: auto;
    }
    &:checked + .button.menu {
      background-image: $cross-icon;
    }
  }
  &__nav_list {
    @include mobile {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      width: 100%;
      height: auto;
      background-color: rgba($header-background, 0.95);
      a {
        width: 100%;
        text-align: center;
        margin: 15px 0;
      }
    }
  }
  &__links {
    float: left;
    @include mobile {
      float: none;
    }
  }
}

.select-active{
  text-transform: none;
  &__admin-score {
    border-radius: 10px;
    background: $bright-orange;
    color: $very-dark-cyan;
    height: 20px;
    line-height: 21px;
    padding: 0 7px;
    margin-right: 3px;
    display: inline-block;
    margin-top: auto;
  }
}

.admin{
  .select{
    .select-active {
      margin-top: 10px;
    }
  }
}


