.main_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $header-background;
  color: $header-text;
  height: $header-height;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  img {
    max-width: 100%;
    @include mobile {
      width: 100px;
    }
  }
  &__nav {
    a {
      display: inline-block;
      margin: 0 10px;
      font-weight: bold;
      font-size: rem-calc(16);
      &:focus, &:hover, &.active {
        color: $header-text-active;
      }
    }
  }
  &__title {
    color: $header-text-active;
    font-size: rem-calc(16);
    text-align: left;
    flex-grow: 1;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 20%;
    text-overflow: ellipsis;
  }
  &__mobile_nav_toggle {
    @include hidden-input;
    &:checked ~ .main_header__nav_list {
      top: $header-height;
      opacity: 1;
      visibility: visible;
      z-index: auto;
    }
    &:checked + .button.menu {
      background-image: $cross-icon;
    }
  }
  &__nav_list {
    @include mobile {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      width: 100%;
      height: auto;
      background-color: rgba($header-background, 0.95);
      a {
        width: 100%;
        text-align: center;
        margin: 15px 0;
      }
    }
  }
  &__links {
    float: left;
  }
}

.select-active{
  text-transform: none;
  &__admin-score {
    border-radius: 10px;
    background: $bright-orange;
    color: $very-dark-cyan;
    height: 20px;
    line-height: 21px;
    padding: 0 7px;
    margin-right: 3px;
    display: inline-block;
    margin-top: auto;
  }
}

.admin{
  .select{
    .select-active {
      margin-top: 10px;
    }
  }
}


