.main_hero {
  position: relative;
  background-image: $home-background;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  width: 100%;
  color: $hero-forground;
  @include mobile {
    min-height: 350px;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    background: linear-gradient(transparent, rgba(0,0,0,0.9));
    min-height: 700px;
    width: 100%;
    @include mobile {
      min-height: 350px;
    }
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    min-height: 700px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    @include mobile {
      min-height: 350px;
      padding-top: 50px;
    }
  }
  &__header {
    @include content_wrap;
    img {
      max-width: 100%;
      margin-bottom: 10px;
      @include mobile {
        width: 50%;
      }
    }
  }
  &__title {
    font-size: rem-calc(32);
    text-shadow: 1px 1px rgba($black, 0.8);
    margin-bottom: 10px;
    @include mobile {
      font-size: rem-calc(18);
    }
  }
  &__subtitle {
    font-size: rem-calc(28);
    @include mobile {
      font-size: rem-calc(18);
    }
  }
}

.sub_hero {
  background-color: $sub-hero-background;
  color: $hero-forground;
  padding: 20px 0;
  &__content {
    @include content_wrap;
    p {
      font-size: rem-calc(20);
      line-height: 1.5;
      margin-bottom: 1em;
      @include mobile {
        font-size: rem-calc(16);
      }
    }
  }
  &__title {
    font-size: rem-calc(32);
    margin-bottom: 0.5em;
    @include mobile {
      font-size: rem-calc(18);
    }
  }
}
