.main_hero {
  background-color: rgba($black, 0.5);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  min-height: 700px;
  width: 100%;
  color: $hero-forground;
  @include mobile {
    min-height: 350px;
  }
  &.home {
    background-image: $home-background;
  }
  &.edit {
    background-image: $edit-background;
    min-height: 350px;
  }
  &__content {
    @include content_wrap;
    height: 100%;
    min-height: 700px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    img {
      max-width: 100%;
      margin-bottom: 30px;
      @include mobile {
        width: 50%;
        margin-bottom: 10px;
      }
    }
    @include mobile {
      min-height: 350px;
      padding-top: 50px;
    }
  }
  &__title {
    font-size: rem-calc(32);
    text-shadow: 1px 1px rgba($black, 0.8);
    @include mobile {
      font-size: rem-calc(22);
    }
  }
  &__subtitle {
    font-size: rem-calc(28);
    @include mobile {
      font-size: rem-calc(18);
    }
  }
}

.sub_hero {
  background-color: $sub-hero-background;
  color: $hero-forground;
  padding: 20px 0;
  &__content {
    @include content_wrap;
    p {
      font-size: rem-calc(18);
      line-height: 1.5;
      margin-bottom: 1em;
      @include mobile {
        font-size: rem-calc(14);
      }
    }
  }
  &__title {
    font-size: rem-calc(28);
    margin-bottom: 0.5em;
    @include mobile {
      font-size: rem-calc(18);
    }
  }
}
