.menu_dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $dark-red-black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  line-height: 180%;
}

.menu_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: $drop-down-yellow, $dark-red-black;
  background-position: 96% 50%, center center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  color: #272727;
  border-radius: 0;
  border: 0;
  height: 23px;
  padding: 0 20px 0 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu_select-active:after {
  margin-left: 5px;
  /* @include icon("\f0d7"); // http://fortawesome.github.io/Font-Awesome/icon/caret-down/ */

}

.score {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $soft-orange;
  height: 20px;
  line-height: 21px;
  padding: 0 7px;
  margin-right: 3px;
  vertical-align: top;
  display: inline-block;
  margin-top: auto;
}
