.transcript-facets {
  position: relative;
  z-index: 5;
  text-align: center;
  font-weight: bold;
  &.sticky {
    position: fixed;
  }

  .desktop-only {
    margin-right: 0.3rem;
  }
}

.facet {
  display: flex;
  position: relative;
  @include mobile {
    margin-left: 0;
    margin-bottom: 0.6em;
  }
  &:first-child {
    margin-left: 0;
  }

  input[type=text] {
    width: auto;
    min-height: 30px;
    line-height: 30px;
    font-size: 1rem;
    border: 0;
    border-radius: 0;
    padding-left: 5px;
    color: #272727;
    font-family: "Muli", sans-serif;
    -webkit-appearance: none;
  }

  #data_theme {
    width: 127px;
  }

  #data_institution_id, #data_collection_id {
    width: 150px;
  }

  #data_sort_id {
    width: 108px;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: $drop-down-black, $soft-orange;
    background-position: right 0.8em bottom 45%;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    color: $black;
    border-radius: 0;
    border: 0;
    padding: 0.2em 2em 0.2em 0.8em;
    font-size: 1rem;
    cursor: pointer;
    white-space: nowrap;
    line-height: 24px;
    transition: background-color 0.3s;
    z-index: 1;
    height: 30px;
    font-weight: bold;
    @include mobile {
      min-width: 150px;
    }

    &:hover, &:focus {
      background-color: $soft-orange;
    }
  }
}

a#reset {
  margin-left: 0.6rem;

  &:hover, &:focus {
    text-decoration: none;
  }

}

/* Select Box */
.select {
  .select-active {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: $drop-down-black, $soft-orange;
    background-position: right 0.8em bottom 45%;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    color: $black;
    border-radius: 0;
    border: 0;
    padding: 0.2em 2em 0.2em 0.8em;
    font-size: 1rem;
    cursor: pointer;
    white-space: nowrap;
    line-height: 24px;
    transition: background-color 0.3s;
    z-index: 1;
    @include mobile {
      min-width: 150px;
    }
  }

  &.collection .select-options {
    min-width: 400px;
    @include mobile {
      min-width: 240px;
    }
  }
  &.sort .select-options {
    min-width: 240px;
  }

  &.active {
    .select-options {
      display: block;
      z-index: 50;
      @include mobile {
        position: inherit;
      }
    }
    .select-option {
      display: block;
      z-index: 100;
    }
  }
}

select[multiple] {
  display: none;
  height: 300px;
  position: absolute;
  z-index: 1000;
  top: -5px;
  background-size: 0;
  left: -5px;
  width: 250px;
  max-width: unset;

  option {
    width: fit-content;
  }
}

.select-options {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  border-top: none;
  background: $soft-orange;
  box-sizing: border-box;
  z-index: 0;
  @include mobile {
    left: calc(50% - 200px);
    max-width: 350px;
  }

  .select-option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.4em;
    color: $black;
    margin: 0;
    z-index: 0;
    &:hover {
      color: $white;
      background: #D1AB4D;
    }
    &.selected:after {
      margin-left: 5px;
      /* @include icon("\f00c"); // http://fortawesome.github.io/Font-Awesome/icon/check/ */
    }
  }
}

.filter-controls {
  width: auto;
  min-height: 30px;
  line-height: 30px;
  font-size: rem-calc(16);
  border: 0;
  border-radius: 0;
  padding-left: 5px;
  color: $input-foreground;
  font-family: $body-font;
  // Bugfix search on safari
  -webkit-appearance: none;
  &::placeholder {
    color: $input-foreground;
    font-family: $body-font;
  }
}
