.search_results {
  padding: 20px;
  background-color: $body-background;
  color: $body-foreground;
  &__list {
    @include content_wrap;
    width: 95%;
    max-width: 1500px;
  }
}

.search_item {
  display: flex;
  margin-bottom: 20px;
  &__image {
    background: center no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
  }
  &__title {
    margin-top: 5px;
    font-size: rem-calc(18);
    padding-left: 10px;
  }
}
