.modal.show {
  width: 400px;
  height: 400px;
  left: 33%;
  top: -30%;
}
#sn-checkbox-open-in-new-window {
  position: inherit;
  z-index: 1;
  opacity: 1;
}
.multi-select{
  height: 30%
}

.multi-select:hover {
  background-color: #FFFFFF;
}
