<p>Hello <%= @resource.name %>!</p>

<p>
You have requested to change your Amplify account password. Please click the link below to do so:
</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>
  Happy transcribing!
</p>
