<%= render partial: 'layouts/admin_side_pane' %>
<div class="accordion" id="accordionUser">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h3>Top Users</h3>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionUser">
      <div class="card-body">
        <%= render "users", users: @users, user_roles: @user_roles, institutions: @institutions %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         <h3>Administrative Users</h3>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionUser">
      <div class="card-body">
        <%= render "users", users: @staff, user_roles: @user_roles, institutions: @institutions %>
      </div>
    </div>
  </div>
</div>

