<%= render partial: 'layouts/admin_side_pane' %>

<ul class="nav nav-tabs" id="users-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="registered-tab" data-toggle="tab" href="#registered" role="tab" aria-controls="registered" aria-selected="true">
      Registered Users
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="administrative-tab" data-toggle="tab" href="#administrative" role="tab" aria-controls="administrative" aria-selected="false">
      Administrative Users
    </a>
  </li>
</ul>
<div class="tab-content" id="users-content">
  <div class="tab-pane fade show active" id="registered" role="tabpanel" aria-labelledby="registered-tab">
    <%= render "users", users: @users, user_roles: @user_roles, institutions: @institutions, can_delete: true %>
  </div>
  <div class="tab-pane fade" id="administrative" role="tabpanel" aria-labelledby="administrative-tab">
    <%= render "users", users: @staff, user_roles: @user_roles, institutions: @institutions, can_delete: false %>
  </div>
</div>
