@import "mixins";
@import "variables";

/* Button */
.button {
  display: inline-block;
  padding: 0.2em 0.8em;
  background: $link-color;
  color: $white;
  cursor: pointer;

  &:hover {
    background: $link-hover-color;
    color: $white;
  }

  &.large {
    font-size: 1.4em;
  }

  &.list-next {
    font-size: 2em;
    margin: 1em auto;
    display: block;
    max-width: 300px;
    text-align: center;
  }

  &.disabled {
    cursor: default;
    opacity: 0.3;
    background: $coolgray-color;
  }
}
