@import "mixins";
@import "variables";

/* Button */
.button {
  display: inline-block;
  padding: 0px 30px;
  background: $cyan;
  color: $white;
  cursor: pointer;
  font-family: $font-family;
  font-weight: bold;
  border-radius: 0;
  text-align: center;
  border: 0;
  outline: 0;
  -webkit-appearance: none;

  &:hover {
    background: $very-dark-cyan;
    color: $white;
  }
  &.cyan {
    background-color: $cyan;
  }
  &.cyan:hover {
    background-color: $very-dark-cyan;
  }
  &.large {
    font-size: 1.4em;
    height: 50px;
    line-height: 51px;
    font-size: 1.25rem;
  }

  &.list-next {
    font-size: 2em;
    margin: 1em auto;
    display: block;
    max-width: 300px;
    text-align: center;
  }

  &.disabled {
    cursor: default;
    opacity: 0.3;
    background: $coolgray-color;
  }

  &.play-all {
    background-image: url('/nsw-state-library-amplify/assets/img/play.png');
    background-size: 1.6em;
    background-repeat: no-repeat;
    background-position: 0.7em center;
    padding-left: 2.9em;
  }
}

.button-group {

  .button {
    margin: 0 -2.2px;
    border-left: 1px solid lighten($link-color, 3%);
    border-right: 1px solid darken($link-color, 3%);

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-left: none;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-right: none;
    }
  }

}
