@import "mixins";
@import "variables";

.crumbs-container {
  @include clearfix;
}

/* Crumbs */
.crumb {
  display: block;
  padding: 0.2em 0.4em;
  float: left;

  &:before {
    @include icon("\f105");
    margin-right: 10px;
    vertical-align: middle;
  }

  .crumb-image {
    display: inline-block;
    margin-right: 5px;
  }

  .crumb-label {
    display: inline-block;
    vertical-align: middle;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
