<div class="transcript-list">
  <% _.each(transcripts, function(transcript) { %>
    <%= template_item(transcript) %>
  <% }) %>
</div>
<% if (has_more) { %>
<a href="#more" class="list-next button">Load More</a>
<% } %>
