<% if (page_content) { %>
<div class="transcript-page">
  <%= page_content %>
</div>
<% } %>

<div class="transcript-lines">
  <% _.each(transcript.lines, function(line) { %>
    <%= template_line(line) %>
  <% }) %>
</div>
