<h3>Institution edits</h3>
<div class="card mb-2">
  <div class="card-header heading">
  </div>
  <div class="card-body">
    <form>
      <p>Institution:
      <%= collection_select(:institution, :id, institutions,
                            :id, :name,
                            include_blank: 'Select an institution') %>
      </p>
    </form>

    <div class="sums" id="edits_for_institution">
    </div>
  </div>
</div>


