<% stats.each do |key, value| %>
<div class="card mb-2">
  <div class="card-header">
    <h3><%= display_name key %></h3>
  </div>
  <div class="card-body">
    <div class="sums">
      <%= render "stat_list", value: value  %>
    </div>
  </div>
</div>
<br />
<% end %>


