<div class="row">
  <div class="col-md-12">
    <br />
    <% if flash[:notice].present? %>
        <div class="alert-primary" role="alert">
          <%= flash[:notice] %>
        </div>
    <% end %>
    <br />
  </div>
</div>
