<div class="header-menu menu" role="menu">
  <a href="/" class="menu-item active" role="menuitem">Browse</a>
  <a href="/search" class="menu-item " role="menuitem">Search</a>
  <a href="/collections" class="menu-item " role="menuitem">Collections</a>
  <a href="/page/about" class="menu-item " role="menuitem">About</a>
  <a href="/page/faq" class="menu-item " role="menuitem">FAQ</a>
</div>

